data/word2vec/w2v3b_gensim.bin
data/word2vec/w2v3b_gensim.txt
data/glove/glove840b_gensim.txt
data/glove/glove840b.txt

output/
output1/
output2/
output3/

__pycache__/

*nohup*

.idea/
.vscode/

*.py.save
