data/all_data_*.pickle
data/bert_pretrain_*/
data/xlnet_pretrain_*/
data/word2vec/w2v3b_gensim.bin
data/word2vec/w2v3b_gensim.txt
data/glove/glove840b_gensim.txt
data/glove/glove840b.txt
data/glove/glove6b50d_gensim.txt
data/glove/glove6b50d.txt
data/glove/glove6b100d_gensim.txt
data/glove/glove6b100d.txt
data/glove/glove6b200d_gensim.txt
data/glove/glove6b200d.txt
data/glove/glove6b300d_gensim.txt
data/glove/glove6b300d.txt


experiments/dump*.txt

output/
*output1*
*output2*
*output3*
*output4*
*output5*

__pycache__/

*nohup*

.idea/
.vscode/

*.py.save

.ipynb_checkpoints/

visual/